body{
    background-color:  white;
    margin: 0;
    padding: 0;
    /* adds custom google font to whole page */
    font-family: "Kode Mono", monospace;
}

.profileHeader{
    background-color: #7CB9E8;
    height: 15%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#profilePhoto{
    height: 100%;
    border-radius: 100%;
    border: solid black 2px;
    position: relative;
    top: 50%;
}

#cons{
    height: 30vh;
    display: flex;
    justify-content: center;
}

#consWords{
    height: 10%;
    position: relative;
    top: 80%;
    display: flex;
}

#consUnderscore{
    position: relative;
    top: 50%;
    display: flex;
}

.aboutMe{
    margin-left: 2%;

    width: 40%;
    height: 65vh;
    position: relative;
    bottom: 75%;
}

.aboutMeParagraph{
    list-style-type:square;
    line-height: 250%;
}

.codeProjects{
    margin-right: 2%;

    width: 40%;
    height: 65vh;
    position: relative;
    bottom: 75%;
    overflow-y: scroll;
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.marigoldImage{
    height: 50%;
    margin-left: 25%;
    border-radius: 100%;
    border: solid black 2px;
}